@import "core/_reset";
@import "core/_variables";

/* PARTE GENERAL */
.principal-column {
  width: 100wh;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  box-sizing: border-box;
}
@import "components/_header";

/* HEADER*/
.header-container {
  background: url("../images/frontrunners-team-contact2.jpg") center center
    no-repeat;
  background-size: cover;
  height: 300px;
  /* position: relative; */
}
.slogan {
  display: none;
}

section.contact-us {
  padding: 60px 15px 60px 15px;
}
.info-contact {
  margin: 0 auto;
  text-align: center;
  line-height: 24px;
  font-family: "Open-sans", sans-serif;
  max-width: 442px;
  margin-bottom: 58px;
}
.info-contact h2 {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
  color: #14d9c4;
}
.info-contact p.contact-text {
  padding: 15px 20px 20px 20px;
}
.text-small span.color {
  color: #14d9c4;
}
@media all and (min-width: 1200px) {
  .header-container {
    height: 400px;
  }
  ul.menu-container {
    padding-right: 145px;
  }
  .info-contact {
    max-width: 600px;
  }
}
/* Estilos de Formulario */

.form-container {
  padding: 0;
  margin: 0 auto;
  // margin-top: 58px;
  max-width: 601px;
}

label,
input {
  font-family: "Open-sans", sans-serif;
}
.name-container input {
  display: block;
  width: 290px;
  height: 45px;
}

.name-container input::placeholder {
  padding-top: 11px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.name-container {
  display: inline-block;
  font-size: 14px;
  color: #54585a;
  margin-bottom: 7px;
}
.name-container input{
  margin-top: 7px;
}

.name-container label:after {
  content: "\02a";
  color: #14d9c4;
}

.mail-container input {
  display: inline-block;
  width: 290px;
  height: 45px;
}

.mail-container input::placeholder {
  font-family: "Open-sans", sans-serif;
  font-size: 16px;
  color: #54585a;
  padding-top: 7px;
  padding-bottom: 16px;
  padding-left: 15px;
  padding-right: 57px;
}

.mail-container label {
  display: block;
  font-size: 14px;
  color: #54585a;
  margin-top: 13px;
  margin-bottom: 7px;
}

.tel-container input {
  display: block;
  width: 290px;
  height: 45px;
}

.tel-container input::placeholder {
  padding-top: 11px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 180px;
}

.tel-container label {
  display: block;
  font-size: 14px;
  color: #54585a;
  padding-top: 13px;
  margin-bottom: 7px;
}

.tel-container label::after {
  content: "\02a";
  color: #14d9c4;
}

.message-container textarea {
  display: block;
  width: 290px;
  height: 105px;
  overflow: auto;
}

.message-container textarea::placeholder {
  padding-top: 11px;
  padding-bottom: 75px;
  padding-left: 15px;
}
.message-container label {
  display: block;
  font-size: 14px;
  color: #54585a;
  margin-top: 13px;
  margin-bottom: 7px;
}

.message-container label::after {
  content: "\02a";
  color: #14d9c4;
}

.button-container {
  margin-top: 30px;
  margin-bottom: 60px;
  width: 290px;
  height: 45px;
  border-radius: 4px;
  background-color: #099d8d;
}
.button-container:hover {
  background-color: #14d9c4;
}

.button-container button {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}

input:focus,
textarea:focus {
  outline-color: #099d8d;
}

@media all and (min-width: 768px) {
  .form-container {
    margin: 0 163px;
  }
  .name-container input {
    width: 442px;
  }
  .mail-container input {
    width: 442px;
  }
  .tel-container input {
    width: 442px;
  }
  .message-container textarea {
    width: 442px;
  }
  .button-container {
    width: 206px;
    margin-left: 235px;
  }
}

@media all and (min-width: 1200px) {
  .form-container {
    /*   margin: 0 300px; */
    margin: 0 auto;
  }
  .name-container input {
    width: 601px;
  }
  .mail-container input {
    width: 395px;
  }
  .mail-container,
  .tel-container {
    display: inline-block;
  }
  .tel-container {
    margin-left: 40px;
  }
  .tel-container input {
    width: 162px;
  }
  .message-container textarea {
    width: 601px;
  }
  .button-container {
    width: 278px;
    margin-left: 321px;
  }
}
@import "components/_footer";
