@import "core/_reset";
@import "core/_variables";

/* PARTE GENERAL */
.principal-column {
  width: 100wh;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  box-sizing: border-box;
}
@import "components/_header";

/* HEADER*/
.header-container {
  background: url("../images/frontrunners-team-contact2.jpg") center center no-repeat;
  background-size: cover;
  height: 300px;
  /* position: relative; */
}
.slogan {
  display: none;
}

section.contact-us {
  padding: 60px 15px 60px 15px;
}
.info-contact {
  margin: 0 auto;
  text-align: center;
  line-height: 24px;
  font-family: "Open-sans", sans-serif;
  max-width: 442px;
  margin-bottom: 58px;
}
.info-contact h2 {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
  color: #14d9c4;
}
.info-contact p.contact-text {
  padding: 15px 20px 20px 20px;
}
.text-small span.color {
  color: #14d9c4;
}
@media all and (min-width: 1200px) {
  .header-container {
    height: 400px;
  }
  ul.menu-container {
    padding-right: 145px;
  }
  .info-contact {
    max-width: 600px;
  }
}

/* Estilos de Formulario */
.form-container {
  margin: 0 15px;
  border: 1px solid red;
  form {
    margin: 0 auto;
    max-width: 442px;
    @media all and (min-width: 1200px) {
      max-width: 601px;
    }
    .name-container {
      font-size: 14px;
      color: #54585a;
    }
    label,
    input,
    textarea,
    button {
      display: block;
      width: 100%;
      font-family: "Open-sans", sans-serif;
    }
    input,
    textarea {
      margin: 7px 0 13px 0;
      padding: 10px 15px;
      &:focus {
        outline-color: #099d8d;
      }
      &::placeholder {
        font-family: "Open-sans", sans-serif;
        font-size: 16px;
        color: #b8b8b9;
      }
    }
    .name-container,
    .mail-container,
    .tel-container {
      input {
        height: 45px;
      }
    }
    .name-container label:after {
      content: "\02a";
      color: #14d9c4;
    }

    .mail-container {
      label {
        font-size: 14px;
        color: #54585a;
        &::after {
          content: "\02a";
          color: #14d9c4;
        }
      }
      @media all and (min-width: 1200px) {
        display: inline-block;
        width: 60%;
      }
    }
    .tel-container {
      @media all and (min-width: 1200px) {
        width: 35%;
        float: right;
        &::after {
          clear: both;
        }
      }
      label {
        font-size: 14px;
        color: #54585a;
      }
    }
    .message-container {
      area {
        height: 105px;
        overflow: auto;
      }
      label {
        font-size: 14px;
        color: #54585a;
        &::after {
          content: "\02a";
          color: #14d9c4;
        }
      }
    }
    .button-container {
      margin-top: 30px;
      margin-bottom: 60px;
      border-radius: 4px;
      background-color: #099d8d;
      &:hover {
        background-color: #14d9c4;
      }
      @media all and (min-width: 768px) {
        width: 278px;
        margin-top: 17px;
        float: right;
      }
      @media all and (min-width: 1200px) {
        width: 278px;
        float: right;
        margin-top: 17px;
        margin-bottom: 120px;
      }
      button {
        height: 45px;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
        text-transform: uppercase;
      }
    }
  }
}

@import "components/_footer";
