@import "core/_reset";

/* PARTE GENERAL */
.principal-column {
  width: 100wh;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  box-sizing: border-box;
}

@import "components/_header";
@import "components/_team";
@import "components/_about-us";
@import "components/_footer";
@import "pages/_contact";
