<article class="article">
  <div class="image">
    <img class="picture" src="@@picture" alt="Foto de @@name" />
  </div>
  <div class="adalabers odd">
    <h3 class="name odd">@@name @@surname</h3>
    <p class="text odd">@@description</p>
    <div class="rrss">
      <a href="@@twitter" target="_blank">
        <img
          class="icon"
          src="./assets/images/twitter-brands.svg"
          alt="enlace al twitter de @@name"
          title="Enlace Twitter"
        />
      </a>
      <a href="@@linkedin" target="blank">
        <img
          class="icon"
          src="./assets/images/linkedin-in-brands.svg"
          alt="enlace al linkedin de @@name"
          title="Enlace Linkedin"
        />
      </a>
      <a href="@@github" target="blank">
        <img
          class="icon"
          src="./assets/images/github-alt-brands.svg"
          alt="enlace al icono de github de @@name"
          title="Enlace Git-Hub"
        />
      </a>
      <a href="@@email" target="blank">
        <img
          class="icon email"
          src="./assets/images/envelope-solid.svg"
          alt="enlace al correo electrónico de @@name"
          title="Enlace e-mail"
        />
      </a>
    </div>
  </div>
</article>
