<!-- sección quienes somos -->
<section class="principal-column">
  <header class="about-us">
    <h2 class="title-about-us">Quiénes somos</h2>
    <div id="about-us" class="link-interno">Quienes somos para el menú</div>
  </header>
  
<main class="page">  
  <!--Adhara-->
  <partial
    src="_about-us-adalabers"
    name="Adhara"
    surname="Monzón"
    picture="../assets/images/img-adhara.png"
    description="Está decidida a ser programadora front-end. Es un gran cambio ya que viene de la rama profesional de la salud pero esta experiencia le permite aportar su creatividad, trabajo en equipo y adaptabilidad a nuevas situaciones con motivación y trabajo tiene claro su nuevo camino."
    twitter="https://twitter.com/MonzonAdhara"
    linkedin="https://www.linkedin.com/in/adhara-monz%C3%B3n-varillas-340595a8/"
    github="https://github.com/adharamonzon"
    email="mailto:adharamonzon@gmail.com"
  >
  </partial>

  <!--Grisel-->
  <partial
    src="_about-us-adalabers"
    name="Grisel"
    surname="Matos"
    picture="./assets/images/img-grisel.png"
    description="Es una chica decidida y con muchas ganas de desarrollar su creatividad dentro del mundo de la programación front-end. Le apasionan los retos y le encanta colaborar y aprender de otros."
    twitter="https://twitter.com/GriselMatos5"
    linkedin="https://www.linkedin.com/in/grisel-matos-mora-993a80119/"
    github="https://github.com/griselmatosm"
    email="mailto:griselmatosm@gmail.com"
  >
  </partial>

  <!--Marina-->
  <partial
    src="_about-us-adalabers"
    name="Marina"
    surname="Couso"
    picture="./assets/images/img-marina.png"
    description="Es una joven programadora entusiasta y con mucho que aportar gracias a su recorrido como coordinadora de equipos en el ámbito social."
    twitter="https://twitter.com/synergiacolec"
    linkedin="https://es.linkedin.com/in/marina-couso-mart%C3%ADnez-75b5973b"
    github="https://github.com/Marinulis"
    email="mailto:marina.couso.martinez@gmail.com"
  ></partial>

  <!--Natalia-->
  <partial
    src="_about-us-adalabers"
    name="Natalia"
    surname="Mateo"
    picture="./assets/images/img-natalia.png"
    description="Es organizada y metódica gracias a su formación como documentalista y archivera. Estusiasta de la programación, con muchas ganas de aprender y de trabajar en equipo."
    twitter="https://twitter.com/natitey"
    linkedin="https://www.linkedin.com/in/nataliamateomenendez/"
    github="https://github.com/nataliamateo "
    email="mailto:nmateo7@gmail.com"
  ></partial>

  <!--Rosanna-->
  <partial
    src="_about-us-adalabers"
    name="Rosanna"
    surname="Blanco"
    picture="./assets/images/img-rosanna.png"
    description="Es una profesional del diseño grafico que emprende su camino al desarrollo front-end siguiendo sus intereses en nuevas tecnologias y programación."
    twitter=""
    linkedin="https://www.linkedin.com/in/rosannablancoprado/"
    github="https://github.com/rosannablanco"
    email="mailto:rosanna.blanco.prado@gmail.com"
  ></partial>
</div>
</main>
</section>