<!-- sección quienes somos -->
<section class="principal-column">
  <header class="about-us">
    <h2 class="title-about-us">Quiénes somos</h2>
    <div id="about-us" class="link-interno">Quienes somos para el menú</div>
  </header>
  <!-- Adhara -->
  <article class="article even">
    <div class="image">
      <img class="picture" src="./assets/images/img-adhara.png" alt="Foto de Adhara" />
    </div>
    <div class="adalabers even">
      <h3 class="name">Adhara Monzón</h3>
      <p class="text even">
        Está decidida a ser programadora front-end. Es un gran cambio ya que viene de la rama profesional de la salud pero esta experiencia le permite aportar su creatividad, trabajo en equipo y adaptabilidad a nuevas situaciones con motivación y trabajo tiene claro su nuevo camino.
      </p>
      <div class="rrss">
        <a href="https://twitter.com/MonzonAdhara" target="_blank">
          <img class="icon" src="../assets/images/twitter-brands.svg" alt="enlace al twitter de Adhara" title="Enlace Twitter" />
        </a>
        <a href="https://www.linkedin.com/in/adhara-monz%C3%B3n-varillas-340595a8/" target="blank">
          <img class="icon" src="../assets/images/linkedin-in-brands.svg" alt="enlace al linkedin de Adhara" title="Enlace Linkedin" />
        </a>
        <a href="https://github.com/adharamonzon" target="blank">
          <img class="icon" src="../assets/images/github-alt-brands.svg" alt="enlace al icono de github de Adhara" title="Enlace Git-Hub" />
        </a>
        <a href="mailto:adharamonzon@gmail.com" target="blank">
          <img class="icon" src="../assets/images/envelope-solid.svg" alt="enlace al correo electrónico de Adhara" title="Enlace e-mail" />
        </a>
      </div>
    </div>
  </article>
  <!-- Grisel -->
  <article class="article odd">
    <div class="image">
      <img class="picture" src="./assets/images/img-grisel.png" alt="Foto de Grisel" />
    </div>
    <div class="adalabers odd">
      <h3 class="name">Grisel Matos</h3>
      <p class="text odd">
        Es una chica decidida y con muchas ganas de desarrollar su creatividad dentro del mundo de la programación front-end. Le apasionan los retos y le encanta colaborar y aprender de otros.
      </p>
      <div class="rrss">
        <a href="https://twitter.com/GriselMatos5" target="_blank">
          <img class="icon" src="../assets/images/twitter-brands.svg" alt="enlace al twitter de Grisel" title="Enlace Twitter" />
        <a href="https://www.linkedin.com/in/grisel-matos-mora-993a80119/" target="blank">
          <img class="icon" src="../assets/images/linkedin-in-brands.svg" alt="enlace al linkedin de Grisel" title="Enlace Linkedin" />
        </a>
        <a href="https://github.com/griselmatosm" target="blank">
          <img class="icon" src="../assets/images/github-alt-brands.svg" alt="enlace al icono de github de Grisel" title="Enlace Git-Hub" />
        </a>
        <a href="mailto:griselmatosm@gmail.com" target="blank">
          <img class="icon" src="../assets/images/envelope-solid.svg" alt="enlace al correo electrónico de Grisel Matos" title="Enlace e-mail" />
        </a>
      </div>
    </div>
  </article>
  <!-- Marina -->
  <article class="article even">
    <div class="image">
      <img class="picture" src="./assets/images/img-marina.png" alt="Foto de Marina" />
    </div>
    <div class="adalabers even">
      <h3 class="name">Marina Couso</h3>
      <p class="text even">
        Es una joven programadora entusiasta y con mucho que aportar gracias a su recorrido como coordinadora de equipos en el ámbito social.
      </p>
      <div class="rrss">
        <a href="https://twitter.com/synergiacolec" target="_blank">
          <img class="icon" src="../assets/images/twitter-brands.svg" alt="enlace al twitter de Marina Couso" title="Enlace Twitter" />
        </a>
        <a href="https://es.linkedin.com/in/marina-couso-mart%C3%ADnez-75b5973b" target="blank">
          <img class="icon" src="../assets/images/linkedin-in-brands.svg" alt="enlace al linkedin de Marina Couso" title="Enlace Linkedin" />
        </a>
        <a href="https://github.com/Marinulis" target="blank">
          <img class="icon" src="../assets/images/github-alt-brands.svg" alt="enlace al icono de github de Marina Couso" title="Enlace Git-Hub" />
        </a>
        <a href="mailto:marina.couso.martinez@gmail.com" target="blank">
          <img class="icon" src="../assets/images/envelope-solid.svg" alt="enlace al correo electrónico de Marina Couso" title="Enlace e-mail" />
        </a>
      </div>
    </div>
  </article>
  <!-- Natalia -->
  <article class="article odd">
    <div class="image">
      <img class="picture" src="./assets/images/img-natalia.png" alt="Foto de Natalia" />
    </div>
    <div class="adalabers odd">
      <h3 class="name">Natalia Mateo</h3>
      <p class="text odd">
        Es organizada y metódica gracias a su formación como documentalista y archivera. Estusiasta de la programación, con muchas ganas de aprender y de trabajar en equipo.
      </p>
      <div class="rrss">
        <a href="https://twitter.com/natitey" target="_blank">
          <img class="icon" src="../assets/images/twitter-brands.svg" alt="enlace al twitter de Natalia" title="Enlace Twitter" />
        </a>
        <a href="https://www.linkedin.com/in/nataliamateomenendez/" target="blank">
          <img class="icon" src="../assets/images/linkedin-in-brands.svg" alt="enlace al linkedin de Natalia" title="Enlace Linkedin" />
        </a>
        <a href="https://github.com/nataliamateo " target="blank">
          <img class="icon" src="../assets/images/github-alt-brands.svg" alt="enlace al icono de github de Natalia" title="Enlace Git-Hub" />
        </a>
        <a href="mailto:nmateo7@gmail.com" target="blank">
          <img class="icon" src="../assets/images/envelope-solid.svg" alt="enlace al correo electrónico de Natalia" title="Enlace e-mail" />
        </a>
      </div>
    </div>
  </article>
  <!-- Rosanna -->
  <article class="article even">
    <div class="image">
      <img class="picture" src="./assets/images/img-rosanna.png" alt="Foto de Rosanna" />
    </div>
    <div class="adalabers even">
      <h3 class="name">Rosanna Blanco</h3>
      <p class="text even">
        Es una profesional del diseño grafico que emprende su camino al desarrollo front-end siguiendo sus intereses en nuevas tecnologias y programación.
      </p>
      <div class="rrss">
        <a href="https://www.linkedin.com/in/rosannablancoprado/" target="blank">
          <img class="icon" src="../assets/images/linkedin-in-brands.svg" alt="enlace al linkedin de Rosanna" title="Enlace Linkedin" />
        </a>
        <a href="https://github.com/rosannablanco" target="blank">
          <img class="icon" src="../assets/images/github-alt-brands.svg" alt="enlace al icono de github de Rosanna" title="Enlace Git-Hub" />
        </a>
        <a href="mailto:rosanna.blanco.prado@gmail.com" target="blank">
          <img class="icon" src="../assets/images/envelope-solid.svg" alt="enlace al correo electrónico de Rosana" title="Enlace e-mail" />
        </a>
      </div>
    </div>
  </article>
</section>