<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Front-runners</title>
    <link rel="stylesheet" href="./css/contact.css" />
  </head>

  <body>
    <!-- INICIO DEL ENCABEZADO PÁGINA (header, hero, nav) -->
    <header class="header-container">
      <nav class="nav-bar">
        <div class="name-team">
          <h1>
            <a href="index.html" title="Front-runners">Front-runners</a>
          </h1>
        </div>
        <ul class="menu-container">
          <li class="menu">
            <a href="#section-team" title="Equipo">Equipo</a>
          </li>
          <li class="menu">
            <a href="#about-us" title="Quienes somos">Quienes somos</a>
          </li>
          <li class="menu">
            <a href="contact.html" title="Contacto">Contacto</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="contact-us">
        <div class="info-contact">
          <h2 class="contact-title">Contacto</h2>
          <p class="contact-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum unde
            vero ducimus dicta. Deleniti, placeat commodi. Aliquam temporibus
            nemo quae ex necessitatibus ea iste quaerat eius
          </p>

          <p class="text-small">
            <small
              >Todos los campos marcados con <span class="color">*</span> son
              obligatorios</small
            >
          </p>
        </div>
      </section>
    </main>
  </body>
</html>
