<!-- FOOTER -->
<footer class="footer principal-column">
  <div class="copyright uppercase">
    Front-Runners ©2020
  </div>
  <nav class="nav-list">
    <ul>
      <li class="item-list1 uppercase">
        <a href="#section-team" title="Navega a la sección Equipo"> Equipo </a>
      </li>
      <li class="item-list2 uppercase">
        <a href="#about-us" title="Navega a la sección Quiénes somos">
          Quiénes somos
        </a>
      </li>
      <li class="item-list3 uppercase">
        <a
          href="contact.html"
          title="Contáctanos rellenando un sencillo formulario"
          target="blank"
        >
          Contacto
        </a>
      </li>
    </ul>
  </nav>
  <div class="logo-container">
    <a href="#">
      <img
        src="./assets/images/logo-adalab.svg"
        alt="Adalab"
        class="logo-adalab"
      />
    </a>
  </div>
</footer>
