<!-- INICIO DEL ENCABEZADO PÁGINA (header, hero, nav) -->
<header class="header-container">
  <nav class="nav-bar">
    <div class="name-team">
      <h1 class="uppercase">
        <a href="index.html" title="Front-runners" class="link-logo">Front<img src="./assets/images/pegaso-fill-01.png" class="img-logo" alt="Front-runners marca" /> runners</a>
      </h1>
    </div>
    <ul class="menu-container">
      <li class="menu">
        <a href="index.html#section-team" title="Equipo" class="menu-link">Equipo</a>
      </li>
      <li class="menu">
        <a href="index.html#about-us" title="Quienes somos" class="menu-link">Quienes somos</a>
      </li>
      <li class="menu"><a href="contact.html" title="Contacto" target="_blank" class="menu-link">Contacto</a></li>
    </ul>
  </nav>
  <div class="slogan">
    <h3>"Una nueva generación de mujeres que sincretizamos saberes"</h3>
  </div>
</header>
