<!-- INICIO DEL ENCABEZADO PÁGINA (header, hero, nav) -->
<header class="header-container">
  <nav class="nav-bar">
    <div class="name-team">
      <h1 class="uppercase">
        <a href="index.html" title="Front-runners">Front-runners</a>
      </h1>
    </div>
    <ul class="menu-container uppercase">
      <li class="menu"><a href="#section-team" title="Equipo">Equipo</a></li>
      <li class="menu">
        <a href="#about-us" title="Quienes somos">Quienes somos</a>
      </li>
      <li class="menu"><a href="#" title="Contacto">Contacto</a></li>
    </ul>
  </nav>
  <div class="slogan">
    <h3>"Una nueva generación de mujeres que sincretizamos saberes"</h3>
  </div>
</header>
