<!-- Sección Equipo -->
<section class=" principal-column">
  <div class="container-team">
    <h2 class="team uppercase">
      Equipo
      <div id="section-team"></div>
    </h2>
    <div class="text-t">
      <p class="text-team">
        <strong>Front-Runners</strong> está compuesto por un grupo de mujeres
        emprendedoras que han decidido dar un giro a su vida profesional para
        formar parte de de la emocionante aventura de la programación web. Cada
        una de ellas proviene de distintas ramas debido a sus profesiones
        anteriores, pasando desde diseño gráfico, documentalista e incluso del
        perfil de la sanidad. Lo que hace de Front-Runners un equipo diverso en
        cuanto a experiencias profesionales vividas, pero a su vez muy
        cohesionado y determinado a aportar lo mejor de cada una de ellas.
      </p>
    </div>
  </div>
  <div class="rectangle-position">
    <div class="rectangle"></div>
  </div>
  <div class="background">
    <div class="strengths">
      <h2 class="header2">Fortalezas</h2>
      <p class="text-t justify">
        El pasado profesional de los miembros de Front-Runners hace que este sea
        su principal fortaleza. Al provenir de profesiones tas distintas, las
        convierte en un equipo versátil que permite el desarrollo ágil del
        trabajo. Un elemento común las distingue, la colaboración, y la asumen
        como actitud, comprenden que sin ella la buena marcha del trabajo sería
        imposible.
      </p>
    </div>
    <div class="weaknesses">
      <h2 class="header2">Debilidades</h2>
      <p class="text-t justify">
        Al ser un equipo de nuevas programadoras, necesitarán contar con un poco
        más de tiempo para desarrollar proyectos que las programadoras senior,
        pero por esa misma razón también vienen con energías renovadas,
        dispuestas a aportar y traer nuevas ideas.
      </p>
    </div>
  </div>
</section>
