<section class="tools">
  <h2 class="tools-title">Conocimientos adquiridos</h3>
  <h3 class="tools-subtitle">Lenguajes y herramientas de programación</h5>
  <div class="tools-item">
    <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" target="_blank"> <img class="tools-icon"src="./assets/images/html5-brands.svg" alt="Enlace a HTML5" title="Enlace HTML5"/></a>
    <p class="tools-text">HTML5</p>
  </div>
  <div class="tools-item">
    <a href="https://developer.mozilla.org/es/docs/Web/CSS" target="_blank"><img class="tools-icon" src="./assets/images/css3-alt-brands.svg" alt="Enlace a CSS3" title="Enlace CSS3"/></a>
    <p class="tools-text">CSS3</p>
  </div>
  <div class="tools-item">
    <a href="https://sass-lang.com/" target="_blank"><img class="tools-icon" src="./assets/images/sass-brands.svg" alt="Enlace a Sass" title="Enlace Sass"/></a>
    <p class="tools-text">Sass</p>
  </div>
  <div class="tools-item">
    <a href="https://getbootstrap.com/docs/4.4/getting-started/introduction/" target="_blank"><img class="tools-icon" src="./assets/images/bootstrap-brands.svg" alt="Enlace a Bootstrap" title="Enlace Bootstrap"/></a>
    <p class="tools-text">Bootstrap</p>
  </div>
  <div class="tools-item">
    <a href="https://git-scm.com/" target="_blank"><img class="tools-icon" src="./assets/images/git-brands.svg" alt="Enlace a Git" title="Enlace Git"/></a>
    <p class="tools-text">Git</p>
  </div>
  <div class="tools-item">
    <a href="https://gulpjs.com/" target="_blank"><img class="tools-icon" src="./assets/images/gulp-brands.svg" alt="Enlace a Gulp" title="Enlace Gulp"/></a>
    <p class="tools-text">Gulp</p>
  </div>
  <h3 class="tools-subtitle">Herramientas de organización</h5>
  <div class="tools-item">
    <a href="https://trello.com" target="_blank"><img class="tools-icon" src="./assets/images/trello-brands.svg" alt="Enlace a Trello" title="Enlace Trello"/></a>
    <p class="tools-text">Trello</p>
  </div>
  <div class="tools-item">
    <a href="https://slack.com/intl/es-es/" target="_blank"><img class="tools-icon" src="./assets/images/slack-brands.svg" alt="Enlace a Slack" title="Enlace Slack"/></a>
    <p class="tools-text">Slack</p>
  </div>
  <div class="tools-item">
    <a href="https://github.com/" target="_blank"><img class="tools-icon" src="./assets/images/github-square-brands.svg" alt="Enlace a Git-Hub" title="Enlace Git-Hub"/></a>
    <p class="tools-text">Git-Hub</p>
  </div>
</section>