<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacto</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Rubik&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./assets/css/contact.css" />
  </head>
  <body>
    <partial src="_header.html"></partial>
    <section class="contact-us">
      <div class="info-contact">
        <h2 class="contact-title">Contacto</h2>
        <p class="contact-text">
          Si quieres dar nuevas oportunidades por favor contáctenos!
        </p>

        <p class="text-small">
          <small>Todos los campos marcados con <span class="color">*</span> son obligatorios</small>
        </p>
      </div>
    </section>
    <!-- ubicacion formulario -->
    <partial src="_formulario.html"></partial>

    <partial src="_footer.html"></partial>
  </body>
</html>
