<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Front-runners</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Rubik&display=swap" rel="stylesheet" />
    <link href="https://fontawesome.com/icons/twitter?style=brands" rel="icons" />
    <link href="./assets/css/main.css" rel="stylesheet" />
  </head>

  <body>
    <!-- PARTIALS -->
    <div>
      <partial src="_header.html"></partial>
      <partial src="_team.html"></partial>
      <partial src="_about-us.html"></partial>
      <partial src="_tools.html"></partial>
      <partial src="_footer.html"></partial>
    </div>
  </body>
</html>
