/* SECCION ABOUT US */
.about-us {
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #099d8d;
  box-sizing: border-box;
  margin: 30px auto;
  text-align: center;

  .title-about-us {
    text-transform: uppercase;
    font-size: 24px;
  }
  .link-interno {
    color: transparent;
    position: relative;
    bottom: 10em;
  }

}

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.image {
  width: 180px;
  height: 180px;
  border: solid 5px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  .picture {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
}

.adalabers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Open Sans", sans-serif;

  .name {
    font-size: 20px;
    line-height: 2.25;
    letter-spacing: normal;
    color: #000000;
  }
  .text {
    width: 290px;
    font-size: 14px;
    color: #54585a;
    margin-top: 0px;
    margin-bottom: 15px;
  }
  .rrss {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #099d8d;
    font-size: 3px;
  }
  .icon {
    color: #099d8d;
    width: 18px;
    height: 18px;
    text-align: center;
  }
  .rrss a {
    text-decoration: none;
  }
  .rrss a::after {
    content: "·";
    font-size: x-large;
    color: #099d8d;
  }
  .rrss a:last-child::after {
    content: none;
  }
}

@media all and (min-width: 768px) {
  .about us { 
    margin: 45px auto;
    font-size: 24px;
    .link-interno {
      bottom: 5em;
    }
  }
  
  article:nth-child(even) {
    flex-direction: row;
    justify-content: left;
    margin-left: 44px;
    .adalabers {
      margin-left: 45px;
      padding: 0;
      text-align: left;
   }
   .name {
    font-size: 20px;
    text-align: left;
  }
  }

  article:nth-child(odd) {
    flex-direction: row-reverse;
    justify-content: right;
    margin-right: 44px;
  
  .adalabers{
    margin-right: 45px;
    padding: 0;
    text-align: right;
  }
  .name {
    font-size: 20px;
    text-align: right;
  }
 }


   .text {
    width: 400px;
    font-size: 16px;
  }
}