/* SECCIÓN EQUIPOS */

#section-team {
  position: relative;
  bottom: 150px;
}
.principal-column {
  padding-left: 0;
  padding-right: 0;
  .team {
    display: inline-block;
    font-family: "Rubik", sans-serif;
    text-align: center;
    color: #14d9c4;
    font-size: 24px;
    padding-top: 45px;
    padding-bottom: 15px;
    text-transform: uppercase;
  }
  .text-t {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: #54585a;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    .text-team {
      padding: 0 15px 30px 15px;
      margin: 0;
    }
  }
}
.rectangle-position {
  text-align: center;
  position: relative;
  .rectangle {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    top: 20px;
    transform: rotate(45deg);
    background-color: white;
  }
}

.background {
  background-color: rgba(60, 60, 63, 0.2);
  transition: background-color ease-out 1s;
  &:hover {
    background-color: white;
  }
}

.header2 {
  font-family: "Rubik", sans-serif;
  text-align: center;
  color: #099d8d;
  font-size: 22px;
  padding-top: 30px;
  padding-bottom: 15px;
  margin: 0;
  &:hover {
    font-size: 28px;
  }
}
  .strengths .justify {
    padding: 0 15px;
  }
  .weaknesses .justify {
    padding: 0 15px 45px 15px;
  }
}

@media all and (min-width: 768px) {
  .principal-column {
    margin-left: 0;
    margin-right: 0;
  }
  .text-team {
    padding: 15px 45px 30px 45px;
  }

  .background {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0px;
  }

  .strengths {
    flex: 1 0 50%;
  }

  .weaknesses {
    flex: 1 0 50%;
  }

  .rectangle {
    top: 20px;
  }

  .background .strengths .justify {
    padding: 0px 15px 60px 45px;
  }

  .background .weaknesses .justify {
    padding: 15px 45px 84px 15px;
  }
  #section-team {
    position: relative;
    bottom: 110px;
  }
}

@media all and (min-width: 1200px) {
  body {
    margin: 0;
  }

  .text-team {
    text-align: center;
    padding: 15px 300px 60px 299px;
  }

  .rectangle {
    top: 20px;
  }

  .header2 {
    padding: 45px 24px 0 138px;
  }

  .strengths .justify {
    text-align: center;
    padding: 15px 23px 60px 138px;
  }

  .weaknesses .header2 {
    padding: 45px 138px 0 24px;
  }

  .weaknesses .justify {
    text-align: center;
    padding: 15px 139px 60px 23px;
  }
  #section-team {
    position: relative;
    bottom: 100px;
  }
}
