// tipografía textos
$fontText-01: "Rubik", sans-serif;
$fontText-02: "Open Sans", sans-serif;

// color texto principal
$colorText: #54585a;


// colores generales de la página

$colorPrimary: #099d8d;
$colorSecundary: #14d9c4;
$colorTertiary: white;
$colorFooter: #b8b8b9;

// Poner mayúsculas

$textUppercase: uppercase;

// posiciones de los textos

$textCenter: center;
