/* SECCION ABOUT US */
.about-us {
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #099d8d;
  box-sizing: border-box;
  margin: 30px auto;
  text-align: center;
  .title-about-us {
    text-transform: uppercase;
    font-size: 24px;
  }
  .link-interno {
    color: transparent;
    position: relative;
    bottom: 10em;
  }
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.image {
  width: 180px;
  height: 180px;
  border: solid 5px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  .picture {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
}
.adalabers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;

  .name {
    font-size: 20px;
    line-height: 2.25;
    letter-spacing: normal;
    color: #000000;
  }
  .text {
    width: 290px;
    font-size: 14px;
    color: #54585a;
    margin-top: 0px;
    margin-bottom: 15px;
    text-align: center;
  }
  .rrss {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #099d8d;
    font-size: 3px;
  }
  .icon {
    color: #099d8d;
    width: 18px;
    height: 18px;
    text-align: center;
  }
}
.rrss a::after {
  content: "aaaa";
}
@media all and (min-width: 768px) {
  .about-us {
    margin: 45px auto;
    font-size: 24px;
  }
  .about-us-link-interno {
    color: transparent;
    position: relative;
    bottom: 5em;
  }
  .article.even {
    flex-direction: row;
    justify-content: left;
    margin-left: 44px;
  }

  .article.odd {
    flex-direction: row-reverse;
    justify-content: right;
    margin-right: 44px;
  }

  .adalabers.even {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 31px;
  }

  .adalabers.odd {
    margin-right: 31px;
    flex-direction: column;
    align-items: flex-end;
  }

  .adalaber-name {
    font-size: 20px;
  }

  .text-adalabers.even {
    text-align: left;
    width: 400px;
    font-size: 16px;
  }

  .text-adalabers.odd {
    width: 400px;
    font-size: 16px;
    text-align: right;
  }
}

@media all and (min-width: 1200px) {
  .about-us {
    margin: 45px auto;
  }
  .about-us-link-interno {
    color: transparent;
    position: relative;
    bottom: 5em;
  }
  .article.even {
    flex-direction: row;
    margin-bottom: 60px;
    justify-content: left;
    align-items: flex-start;
    margin-left: 138px;
  }

  .article.odd {
    flex-direction: row-reverse;
    margin-bottom: 60px;
    justify-content: right;
    margin-right: 138px;
  }

  .adalabers.even {
    margin-left: 45px;
    padding: 0;
    text-align: left;
    align-items: flex-start;
  }

  .adalabers.odd {
    margin-right: 45px;
    padding: 0;
    align-items: flex-end;
    text-align: right;
  }

  .image {
    width: 278px;
    height: 278px;
  }

  .text-adalabers.even {
    width: 439px;
    text-align: left;
  }

  .text-adalabers.odd {
    width: 439px;
    text-align: right;
  }
}
